@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WDXL+Lubrifont+TC&display=swap');

body{font-family: "Instrument Sans", sans-serif;}


.hero-section{background: url(./assets/Frame\ 1.png) no-repeat;}
.budget-hover:hover{background-color: rgba(0, 0, 0, .20);}
.hero-section h1{
    font-family: "Instrument Sans", sans-serif;
    max-width: 648px;
    font-size: 64px;
    font-weight: 500;
    padding-top: 180px;
padding-bottom: 38px;}
.hero-section p{padding-bottom: 60px;}
.hero-section .form-wrapper{padding-bottom: 100px;}



.discover-section {padding-bottom: 200px;}
.dicover-card:hover{box-shadow: 0 10px 5px -5px blue;}



.latest-properties-section{background-color: #F3F0EB;}
.latest-properties-section .container > p {max-width: 450px;}



.popular-city-images11 {column-count :2;
}
.popular-city-images2 {column-count :2}

.estimate-section{ background-color: #03141E;
    background-image:url(./assets/21ea3d5b18677f5d70441134a4b4c35a5c79a9cd.jpg ;) 
}

footer a {
  color: inherit;          /* Makes the link color same as parent text */
  text-decoration: none;   /* Removes underline */
}

footer a:hover {
  color: #007bff;          /* Optional: Add hover color */
  text-decoration: underline; /* Optional: underline only on hover */
}

.buy_comm_hero{background: url(./assets/277a6adcd72ee15c18b6c21bf241be1c4deade68.jpg) center no-repeat;
background-size: cover;}